@import "index";

.main-container {
    grid-template-columns: repeat(3, 1fr);
}

textarea {
    resize: vertical;
    min-height: 150px;
}

.input {
    div {
        margin: 10px 0;
    }
}

.field-with-delete {
    margin: 10px 0;
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 10px;

    div {
        width: 100%;
    }

    textarea {
        min-height: 100px;
    }
}

#select-options {
    .options-buttons {
        display: flex;
        gap: 20px;
    }

    #options {
        div {
            display: flex;
        }
    }
}

@media (max-width: $md) {
    .main-container {
        grid-template-columns: auto;
    }
}