@import "nullstyle";

$sm: 768px;
$md: 992px;
$lg: 1200px;

$button-color: #48b3c6;

.hidden {
    display: none !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    min-width: 320px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #2a5d97;
}

.main-container {
    display: grid;
    gap: 30px;
}

.breadcrumbs {
    margin: 10px 0;
}

button {
    width: 100%;
    text-align: center;
    color: $button-color;
    padding: 10px 15px;
    border: 1px solid $button-color;
    font-size: 14px;
    display: inline-block;
    transition: all .3s ease;
    cursor: pointer;
    background: #ffffff;

    &:hover {
        background: $button-color;
        color: #ffffff;
    }
}

input[type=text], input[type=password], input[type=number], select, textarea {
    padding: 10px 15px;
    margin: 5px 0;
    border: 1px solid #000000;
    display: block;
    width: 100%;
}


textarea {
    min-height: 250px;
}

h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin: 30px 10px;
}

h4 {
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
}

h3 {
    font-size: 30px;
    margin: 15px 0;
}

p {
    line-height: 20px;
    margin: 10px 0;
}

@media (max-width: $md) {
    .main-container {
        grid-template-columns: auto !important;
        gap: 10px;
    }
}

@media (max-width: $sm) {
    .wrapper {
        padding: 0 5px;
    }
}