@import "index";

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: $md) {
    .main-container {
        grid-template-columns: auto;
    }
}

.buttons {
    display: flex;
    gap: 20px;
}