@import "index";

.main-container {
    grid-template-columns: repeat(3, 1fr);
}

h5 {
    margin: 10px 0;
}

textarea {
    resize: none;
}

#output {
    padding: 0 5px;
    border: 1px solid #00000044;
}

@media (max-width: $md) {
    .main-container {
        grid-template-columns: auto;
    }
}

.buttons {
    display: flex;
    gap: 20px;
}