@import "index";

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-block {
    margin: 10px 0;
}

@media (max-width: $md) {
    .buttons {
        grid-template-columns: auto;
    }
}